<table class="table table-bordered width100">
    <thead>
    <tr>
      <th style="text-align: left;"><{$block.italy.title}></th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td style="text-align: center;">
         <iframe width="150" height="408" scrolling="no" frameborder="no" noresize="noresize" src="http://www.ilmeteo.it/box/previsioni.php?citta=5913&type=mps1&width=150&ico=1&lang=ita&days=3&font=Arial&fontsize=12&bg=FFFFFF&fg=000000&bgtitle=0099FF&fgtitle=FFFFFF&bgtab=F0F0F0&fglink=1773C2"></iframe></td>
    </tr>
    </tbody>
    <tfoot>
    <tr>
      <td style="text-align: left;"><{$block.italy.footer}></td>
    </tr>
    </tfoot>
</table>