<!-- <table cellpadding="2">
  <tr><th colspan="5"><{$smarty.const._MD_PARTADS_RANDOM}></th></tr>
  <tr class="center">
     <td>
	<a href="visit.php?pards_id=<{$partads.id}>" title="<{$partads.desc}>" target="_blank">
	   <img src="<{$partads.image}>" alt="<{$partads.title}>" /></a>
     </td>
     <td>&nbsp;</td>
     <td>
	<a href="visit.php?pards_id=<{$partads.id}>" title="<{$partads.desc}>" target="_blank">
	   <img src="<{$partads.image}>" alt="<{$partads.title}>" /></a>
     </td>
     <td>&nbsp;</td>
     <td>
	<a href="visit.php?pards_id=<{$partads.id}>" title="<{$partads.desc}>" target="_blank">
	   <img src="<{$partads.image}>" alt="<{$partads.title}>" /></a>
     </td>
   </tr>
</table>  -->